.online-container{
    padding: 50px;
    margin: 40px;
    background-color: black;
}
.btn-1 {
    padding: 5px 16px;;
    border: 1px solid ;
    border-radius: 12px;
    background-color: black;
    color: white;
    float: right;
}
.btn-1:hover{
    background-color: gray;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: none !important;
    overflow: hidden;
    cursor: pointer;
    width: 101%;
}
.card:hover {
    transform: none !important
}

.cardimg {
    object-fit:contain;
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 5px 5px 0 0;  
}

p{
    padding: 6px;
    width: 100%;
}